body {
    font-family: Arial, sans-serif;
    margin: 0px;
    height: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.alumno-div {
    border-radius: 30px;
    background-color: #FFF;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: inherit;
}

#alumno-info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#alumno-labels {
    width: 70%;
    height: inherit;
}

#alumno-photo {
    background-color: #747474;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.alumno-grupo {
    background-color: rgba(0, 0, 0, 0.116);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    font-size: 16pt;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alumno-label {
    display: block;
    height: 15px;
    font-size: 12pt;
    color: #000;
    width: 100%;
}

.materia-div {
    width: 40%;
    height: 90px;
    border-radius: 20px;
    margin-left: 3%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.materia-div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.006);
}

.subject-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.up-information {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.right-information {
    width: 18%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
}

.materia-name {
    border-radius: 20px;
    padding: 10px;
    height: inherit;
    width: 80%;
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

.docente-name {
    padding: 10px;
    padding-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Lucida Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12pt;
}

.down-information {
    background-color: gray;
    width: 100%;
    height: 80px;
}

.materia-info {
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    display: flex;
    font-size: 12pt;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
}

.grupos-div {
    border-radius: 30px;
    background-color: white;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: inherit;
}

#grupo-labels {
    width: 70%;
    height: inherit;
}

#grupos-info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#grupos_pertenecio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    font-size: 18pt;
    color: #292929;
    background-color: rgba(0, 0, 0, 0.116);
}

.grupo-pertenecio-divs {
    margin: 15px;
    width: 100%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 10, 0.3);
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}

.grupo-alumno,
.grupo-fecha-final,
.grupo-fecha-inicio,
.grupo-nombre,
.grupo-promedio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    box-shadow: 0px 0px 2px rgba(0, 0, 10, 0.3);
}

.grupo-nombre {
    height: 100%;
    width: 9%;
    color: #1f1f1f;
}

.grupo-fecha-inicio,
.grupo-fecha-final {
    width: 18%;
    font-size: 16pt;
}

.grupo-alumno {
    width: 35%;
    font-size: 16pt;
}

.grupo-promedio {
    width: 9%;
}

@media (max-width: 600px) {
    .alumno-div,
    .grupos-div {
        width: 90%;
    }

    .alumno-div img {
        padding: 10px;
    }

    #alumno-photo {
        background: white;
    }

    #alumno-grupo {
        background: white;
    }

    .alumno-grupo {
        background: #c7c6c6;
    }

    #alumno-labels{
        padding: 10px;
        gap: 0px;
        font-size: 8px;
        font-family: montserrat;
    }

    .materia-div {
        width: 90%;
        height: 80px;
    }

    .subject-row {
        margin-bottom: 15px;
    }

    .materia-name {
        font-size: 14pt;
    }

    .docente-name {
        font-size: 10pt;
    }

    .materia-info {
        font-size: 10pt;
    }

    .grupo-pertenecio-divs {
        font-size: 16pt;
    }

    .grupo-alumno,
    .grupo-fecha-final,
    .grupo-fecha-inicio,
    .grupo-nombre,
    .grupo-promedio {
        font-size: 14pt;
    }
}
