body { font-family: Arial, sans-serif; margin: 0px; }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.profile-card {
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 60px;
    padding-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contrasena{
    margin-bottom: 5px;
}

#profilephoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    margin: auto;
}

h2, h3 {
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
}

.info-section {
    margin-bottom: 20px;
}

.info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.info-group label {
    font-weight: bold;
    color: #555555;
}

.info-group span {
    color: #333333;
}

.update-form .form-group {
    margin-bottom: 15px;
}

.update-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

.update-form input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.update-form input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#actualizar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    max-width: 400px;
    color: #fff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: rgb(117, 68, 174);
}

.textbox {
    position: relative;
    margin-bottom: 25px;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}
